*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #3a3d42;
    color: white;
    padding: 20px;
}
h1{
    font-size: 1em;
}

.wrapper{
    max-width: 600px;
    min-width: 300px;
    max-height: 575px;
    min-height: 287.5px;
    overflow:hidden;
}

.middle{
    margin:0 auto;
}

.bottom-part{
    width: 600px;
    min-width: 300px;
    max-height: 575px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

.text{
    overflow: hidden;
}

.text-slides{
    display: flex;
    
    width: 400%;
}

.slide__text{
    transition: all .6s ease;
    width: 25%;
    height: 100%;
}

.navigation{
    display: flex;
    gap: 6px;
}

.dot{
    height: 8px;
    width: 8px;
    cursor: pointer;
    background-color: #58a6ff;
    border: solid #58a6ff 1px;
    border-radius: 50%;
    transition: all .4s ease;
}
.dot:hover{
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
}

input[name="s"],
input[name="t"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#s1:checked ~ .s1{
    margin-left: 0;
}
#s2:checked ~ .s1{
    margin-left: -25%;
}
#s3:checked ~ .s1{
    margin-left: -50%;
}
#s4:checked ~ .s1{
    margin-left: -75%;
}




