*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #3a3d42;
    color: white;
    padding: 20px;
}

h1{
    font-size: 1em;
}

.wrapper{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow:hidden;
    margin:0 auto;
}


.bottom-part{
    display: flex;
    justify-content:space-between;
}

.text{
    overflow: hidden;
}

.text-slides{
    display: flex;
    width: 400%;
}

.slide__text{
    transition: all .6s ease;
    width: 25%;
    height: 100%;
}

.navigation{
    display: flex;
    gap: 6px;
}
.label{
    height: 15px;
    width: 15px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot{
    margin: 0;
    height: 6px;
    width: 6px;
    cursor: pointer;
    background-color: #58a6ff;
    border: solid #58a6ff 1px;
    border-radius: 50%;
    transition: all .4s ease;
}
.label:hover .dot{
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
}

input[name="s"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}
#s1:checked ~ .slides .s1{
    margin-left: 0;
}
#s2:checked ~ .slides .s1{
    margin-left: -25%;
}
#s3:checked ~ .slides .s1{
    margin-left: -50%;
}
#s4:checked ~ .slides .s1{
    margin-left: -75%;
}

#s1:checked ~ .bottom-part .label:nth-of-type(1) div,
#s2:checked ~ .bottom-part .label:nth-of-type(2) div,
#s3:checked ~ .bottom-part .label:nth-of-type(3) div,
#s4:checked ~ .bottom-part .label:nth-of-type(4) div{
    background-color:  #3a3d42;
}

#s1:checked ~ .bottom-part .label:nth-of-type(1) div:hover,
#s2:checked ~ .bottom-part .label:nth-of-type(2) div:hover,
#s3:checked ~ .bottom-part .label:nth-of-type(3) div:hover,
#s4:checked ~ .bottom-part .label:nth-of-type(4) div:hover{
    border: solid whitesmoke 1px;
}

#s1:checked ~ .bottom-part .slide__text:nth-of-type(1){
    margin-left: 0;
}

#s2:checked ~ .bottom-part .slide__text:nth-of-type(1){
    margin-left: -25%;
}

#s3:checked ~ .bottom-part .slide__text:nth-of-type(1){
    margin-left: -50%;
}

#s4:checked ~ .bottom-part .slide__text:nth-of-type(1){
    margin-left: -75%;
}


@media (max-width: 650px) {
    .wrapper{
        gap:20px;
    }
    .bottom-part{
        flex-direction: column-reverse;
        gap: 20px;
        width: auto;
    }
    .navigation{
        justify-content: center;
    }

    .bottom-part{
        margin: initial;
    }
    
}



